---
import Screen from "../components/Screen.astro";
import BigCard from "../components/BigCard.astro";
import Layout from "../layouts/Layout.astro";
import { useSanityClient } from "astro-sanity";
import type { SanityImg } from "../lib/types";

const query = /* groq */ `*[_type == "press"] {
  title,
  description,
  image{asset->{metadata{dimensions}, url}},
  link
}`;

interface Press {
  title: string;
  description: string;
  image: SanityImg;
  link: string;
}

const pressItems: Press[] = await useSanityClient().fetch(query);
---

<Layout title="Sabrina Schroeder - Workshops / Residencies" description="">
  <Screen className={`mt-40 text-gray-500`}>
    <h1 class="text-4xl font-bold uppercase">Press / Interviews</h1>
    <div class="space-y-12 py-12">
      {
        pressItems.map((press) => (
          <BigCard
            title={press.title}
            description={press.description}
            image={press.image}
            link={press.link}
            blank
          />
        ))
      }
    </div>
  </Screen>
</Layout>
