---
import type { SanityImg } from "../lib/types";
import SanityPortableText from "./SanityPortableText.astro";
interface Props {
  link: string;
  date?: string;
  title: string;
  description: any;
  image: SanityImg;
  blank?: boolean;
}

const { link, date, title, description, image, blank } = Astro.props;
---

<div class="w-full grid grid-cols-1 lg:grid-cols-[5fr_7fr] gap-4 sm:gap-8">
  <a
    href={link}
    target={blank ? "_blank" : "_self"}
    rel="noopener noreferrer"
    class="block relative w-full aspect-video hover:opacity-70 transition-opacity"
  >
    <div class="absolute inset-0">
      <img src={image.asset.url} class="object-cover w-full h-full rounded" />
    </div>
    <div class="absolute inset-0 bg-black/20"></div>
    {
      date && (
        <div class="absolute shadow-lg right-4 top-4 bg-white/80 text-gray-800 px-4 py-1 text-sm font-bold rounded backdrop-blur-md">
          {date}
        </div>
      )
    }
  </a>
  <div>
    <h2 class="text-2xl font-bold">{title}</h2>
    <div class="sanity-prose">
      <SanityPortableText portableText={description} />
    </div>
  </div>
</div>
